/* .transition{
	width: 300px;
	height: 300px;
	background-color: rgb(100, 135, 230);
	

	box-shadow: 5px 5px 10px #000;
	transition-duration: 400ms;
	transition: box-shadow 1000ms ease;
	animation-name: test;
    animation-duration: 3s; 
 animation-delay: 1s; 
	animation-iteration-count: 2;
	animation-fill-mode: both;
	animation-direction: reverse;
} */
/* 
.transition:hover{
	box-shadow: 5px 5px 10px rgb(10, 125, 45);
	
} */
/* 
@keyframes test{
	0%{
		margin-left: 0px;
	}
	
	50%{
		margin-top: 50px;
		
	}
	100%{
		margin-left: 0;
	}
} */

p{
	margin: 0;
}
body{
	width: 100%;
	height: 100%;
	
	margin: 0;
	
	
	color: #ff6;
	background-color: #000;
	overflow: hidden;
}
.container{
	perspective: 500px;
	/* overflow: hidden; */
}

.text-content{
	/* background-color: rgb(37, 35, 35); */
	font-family: "Droid Sans", arial, verdana;
	max-width: 800px;
	line-height: 34px;
	font-weight: 700;
	/* text-align: center; */
	font-size: 30px;
	/* max-height: auto; */
	padding: 20px;
	margin: 0 auto;
	line-height: 38px;
	/* animation: scroll 5s  linear 0s infinite; */
	transform: rotateX(30deg); 
	/* overflow: hidden; */
	/* transform: translateZ(-1000px);
	transform: translate3d(0px, 100px, -100px); */
	/* transform:  rotateX(25deg);  */
}

/* . {
	animation-duration: 10s;
	animation-name: slidein;
	animation-fill-mode: forwards;
  } */
  .moving-text{
	animation: scroll 15s  linear 0s infinite;
	text-align: justify;
  }
  @keyframes scroll {
	0% { margin-top: 130%;
		/* perspective: 300px; */
	}
	100% { margin-top: -130%;
		/* perspective: -1300px; */
	}
} 

	
  
/* 
  .bird {
	background-image: url('../bird.png');
	background-size: auto 100%;
	width: 88px;
	height: 125px;
	will-change: background-position;
	animation-name: fly-cycle;
animation-timing-function: steps(10);
animation-iteration-count: infinite;
animation-duration: 1s;
animation-delay: -0.5s;
  }
  @keyframes fly-cycle {
	100% {
	background-position: -900px 0;
	} 
  } */

/* 
p{
	margin: 0;
}
body{
	width: 100%;
	height: 100%;
	
	margin: 0;
	font-weight: 700;
	
	color: #ff6;
	background-color: #000;
	overflow: hidden;
}
.container{
	perspective: 300px;
	transform:  rotateX(25deg); 
} */

/* .text-content{ */
	/* background-color: rgb(37, 35, 35); */
	/* font-family: "Droid Sans", arial, verdana;
	max-width: 600px;
	line-height: 30px; */
	/* text-align: center; */
	/* font-size: 30px;
	max-height: auto;
	padding: 20px;
	margin: 0 auto;
	animation: scroll 5s  linear 0s infinite; */
	
	/* transform: translateZ(-1000px);
	transform: translate3d(0px, 100px, -100px); */
	/* transform:  rotateX(25deg);  */
/* } */

/* . {
	animation-duration: 10s;
	animation-name: slidein;
	animation-fill-mode: forwards;
  } */
  
  /* @keyframes scroll {
	0% { margin-top: 80%; */
		/* perspective: 300px; */
	/* }
	100% { margin-top: -110%; */
		/* perspective: -1300px; */
	/* }
} */

  

