<footer class="footer">
    <div class="footer-wrapper">
        <div class="footer__title">- get in touch with us -</div>
        <div class="footer__text">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</div>
        <div class="footer__contacts">
            <div class="contact-item"><a href="#"><img src="./img/RSS.png" alt="rss"></a></div>
            <div class="contact-item"><a href="#"><img src="./img/Facebook.png" alt="facebook"></a></div>
            <div class="contact-item"><a href="#"><img src="./img/Twitter.png" alt="twitter"></a></div>
            <div class="contact-item"> <a href="#"><img src="./img/Dribbble.png" alt="dribbble"></a></div>
            <div class="contact-item"><a href="#"><img src="./img/Pinterest.png" alt="pinterest"></a></div>
        </div>
        <div class="footer__copyright"><a href="https://www.google.com/maps/place/%D0%9D%D1%8C%D1%8E-%D0%99%D0%BE%D1%80%D0%BA" target="_blank">Moonshine St. 14-05 Light City   /</a>    T.<a href="tel:+00 (123) 456 78 90">+00 (123) 456 78 90</a>    /   <a href="mailto: first.last@email.com">first.last@gmail.com</a></div>
    </div>
</footer>    
