<header class="header">
    <div class="container">
        <div class="header__body">
            <div class="header__burger">
                <span></span>
            </div>
            <nav class="header__menu">
                <ul class="header__list">
                    <li>
                        <a href="" class="header__link">HOME</a>
                    </li>
                    <li>
                        <a href="" class="header__link">ABOUT</a>
                    </li>
                    <li>
                         <a href="" class="header__link">BLOG</a>
                    </li>
                    <li>
                        <a href="" class="header__link">SKILLS</a>
                    </li>
                    <li>
                        <a href="" class="header__link">SERVISE</a>
                    </li>
                    <li>
                        <a href="" class="header__link">WORK</a>
                    </li>  
                    <li>
                        <a href="" class="header__link">TESTIMONIAL</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>