.button{
    background-color: rgb(130, 169, 242);
    color: rgb(2, 4, 55); 
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    border: 1.5px solid rgb(112, 112, 229);
}

button{
    cursor: pointer;
    transition: all 0.4s;

}
button:hover{
    box-shadow: 1px 1px 10px 2px rgb(123, 123, 236);
    transform: scale(1.01);
}