.modal{
    background-color: rgb(154, 167, 241);
    color: rgb(2, 4, 55); 
    border-radius: 15px;
    margin: 10px;
    width: 700px;
    height: 250px;
    font-size: 18px;
    border: 2px solid rgb(81, 81, 224);
    box-shadow: 1px 1px 10px 2px rgb(123, 123, 236);
}