.FavouriteList{
    background-color: rgb(199, 211, 253);
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    font-family: serif;
    font-size: 20px;
    width: 600px;
    box-shadow: 1px 1px 10px 1px rgb(155, 155, 181);
}
