body{
    margin: 0;
    padding: 0;
    /* background-color: rgb(182, 225, 250); */
}

p{
    margin: 0;
}

.wrapper {
    width: 1280px;
    margin: 0 auto;
    /* padding-bottom: 15px;  */
    /* background-color: rgb(228, 248, 251); */
}
.logo {
    /* padding: 10px; */
    /* background-color: rgb(255, 193, 193); */
    margin-bottom: 20px;
}
.logo .logo-text {
    /* padding: 10px; */
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 94px;
color: #000000;
margin: 0;
}

.logo .link{
    text-decoration: none;
    color: #000000;
    /* display: block; */
}

.logo-blue {
    color: rgb(15, 172, 211);
}

.header{
    margin-bottom: 40px;
}


.menu .menu-list {
    list-style: none; /*убираем маркеры списка*/
    margin: 0;  
    padding-left: 0; 
    display: flex;
    justify-content: center;
    background-color:  #35444F;
}

.menu .menu-list .menu-item {
    border-left: 1px solid #FFFFFF;
    /* border-right: 1px solid #FFFFFF; */
}

.menu .menu-list .menu-item:last-child {
    border-right: 1px solid #FFFFFF;
    /* border-right: 1px solid #FFFFFF; */
}

.menu .menu-list .menu-link {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    display: block;
    padding: 26px 33px;

}

.menu .menu-list .menu-link:hover{
    background: #222F3A;
}

.main-content {
    display: flex;
    /* background-color: #a8d0ec; */
    /* width: 100%; */
    justify-content: space-between;
    margin-bottom: 40px;
}
.main-content .aside-left {
    /* padding: 2px; */
    flex-basis: 350px;
    /* background-color: #e6e4e4; */
    
}

.main-content .aside-left .left-menu {
    background-color:  #ffffff;
    border: 1px solid #474141;
}
.main-content .aside-left .left-menu .left-list {
    list-style: none;
     margin: 0; 
    padding-left: 0; 
    display: flex;
    flex-direction: column;
  
}
.aside-left .left-menu .left-list .left-item {
    /* border-top: 1px solid #474141; */
    border-bottom: 1px solid #474141;
}
.aside-left .left-menu .left-list .left-link {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #485863;
    display: block;
    padding: 26px 44px;
}

.aside-left .left-menu .left-list .left-link:hover{
    background-color:  #e6e4e4;
    padding-left: 94px;
}

.aside-left .left-menu .left-list .left-item:last-child {
    border-bottom: none;
}


.aside-right .aside-img {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #474141;
    margin-bottom: 40px;
}


.aside-right {
    
    flex-basis: 880px;
    /* background-color: #e6e4e4; */
   
}

.aside-img .image{
    transition: transform 0.80s;
}
.aside-img .image:hover {
    transform: scale(1.2);
}

.aside-right  .aside-div1{
    margin-bottom: 40px;
}

.aside-right  .aside-div1 .aside-text1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */
    color: #2C2C2C;
}


.aside-right  .aside-div2 .aside-text2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */
    color: #2C2C2C;
}

.footer{
    background-color:  rgba(99, 105, 110, 0.48);;
    display: flex;
    align-items: center;
}

.footer .footer-menu {margin-left: 40px;
    margin-right: 135px;
}
.footer .footer-menu .footer-list {
    list-style: none;
    margin: 0; 
    padding-left: 0; 
    display: flex;
    /* flex-direction: reverse; */
}
.footer .footer-menu .footer-list .footer-item {
    /* border-left: 1px solid #FFFFFF; */
    padding: 12px 20px; 

}

.footer-menu .footer-list .footer-link {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    color: #182f47;
    display: block;
    
    
}

.footer-menu .footer-list .footer-link:hover{
    text-decoration: underline;
    color: #528ac5;
    border-bottom: #528ac5;
}
.footer-copyright {
    /* background-color: #35444F; */
    
    padding: 12px 20px;
}
.footer-copyright .copyright-text {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    color: #182f47;  
   display: block;
}

.footer-copyright .copyright-text:hover{
    text-decoration: underline;
    color: #383e91;
    border-bottom: #383e91;
}

