html,
body { height: 100%; } /* Нужно добавить высоту */

body {
	display: flex; 
	flex-direction: column;
	margin: 0;
	box-sizing: border-box; 
	background:url('../img/mainBack.jpg') ;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

p{
	margin: 0;
}

.text{
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	color: #434343;
}

a{
	text-decoration: underline;
	color: inherit;	
}

.header{
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	background-attachment: fixed ;
	background-position: top center;
	/* opacity: 0.65; */
	
}

.header-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

/* svg:hover{
	fill: #01813F;
} */

.header-content .header-contacts{
	display: flex;
	align-items: center;
	/* margin-right: 80px; */
	padding: 0px 80px;
}

.header-logo{
	padding: 18px 80px;	
}

.welcome-div{
	color: aliceblue;
}

/* .header-content{
	width: 1400px;
	margin: 0 auto;
} */
.header-content svg:hover path{
	fill: #01813F;
}
path{
	transition: fill 0.5s ease;
}

.contacts-svg svg:not(:last-child){
	margin-right: 24px;
}

.contacts-svg::after{
	content: '';
	margin: 0 20px;
	color: #fff;
	background-image: url('../img/line.svg');
	display: inline-block;
	width: 3px;
	height: 27px;
	background-repeat: no-repeat;
	background-position:  center;
}

.welcome-div .log-span{
	font-size: 16px;
}


/* ////////main///////////// */

.main {
	/* padding: 54px 0; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	
}
.main-content {
	background-color: #fff;
	width: 444px;
	/* height: 584px; */
	position: relative;
	padding-top: 32px;
}

.green-cube{
	background-color: #3CB878;
	width: 18px;
	height: 18px;
	position: absolute;
	left: 0;
	top: 28px;
}

.main-form{
	width: 324px;
	margin: 0 auto;
	background-color: #fff;
	padding-bottom: 16px;
}

.signing-div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 16px;
	/* background-color: rgb(200, 166, 166); */
}
.login-link {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 14px;
	color: #01813F;
	text-decoration: underline;
	text-decoration-color: transparent;
	transition: text-decoration 0.6s ease;
}

.login-link:hover{
	text-decoration: underline;
}

.signUp {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 20px;
	color: #434343;

}
.text {
}

.buttons-div {
	/* background-color: rgb(229, 250, 165); */
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}

.inlinediv{
	display: inline-block;
}
.facebook-button .inlinediv::after {
	content: '';
	background-image: url('../img/faceLine.svg'); 
    margin-right: 16px;
	display: inline-block; 
	width: 1px;
	height: 24px; 
	background-repeat: no-repeat;
	background-position:  center; 
	
}

.facebook-button svg{
	margin-right: 16px;

}

.facebook-button{
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	width: 160px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	color: #FFFFFF;
	padding: 0px 20px;
	height: 46px;
	background-color:#305DB8;
	transition: all 0.6s ease;
}

.google-button .inlinediv-google::after {
	content: '';
	background-image: url('../img/faceLine.svg');
    margin-right: 24px;
	display: inline-block;
	width: 1px;
	height: 20px; 
	background-repeat: no-repeat;
	background-position:  center;
}

.google-button{
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	width: 160px;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 16px;
	display: flex;
	align-items: center;
	color: #FFFFFF;
	padding: 0px 20px;
	height: 46px;
	background-color: #DF4A32;
	transition: all 0.6s ease;
}
.google-button svg{
	margin-right: 8px;

}

.button{
	text-decoration: none;
	border-radius: 5px;


}
.facebook-button:hover{
	background-color: #184090;
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.google-button:hover{
	background-color: #c0321c;
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.hrdiv {
    position: relative;
    /* padding-top: 30px; */
	margin-bottom: 12px;
}
.text1 {
    position: absolute;
    left: 144px;
    top: -8px;
    background: #fff;
    padding: 0 10px;
	color:#848484;
	font-size: 14px;
}
.hr{
	color:#F2F2F2;
}

input{
	display: block;
   width: 100%;
   box-sizing: border-box;
   border-radius: 4px;
   padding: 16px 20px;
   font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	color: #193376;
	transition: box-shadow 0.7s ease;
	border: 1px solid #F2F2F2;
	margin-bottom: 16px;
}


input:focus{
	/* border: none; */
	outline: 0;
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
	border: 1px solid #F2F2F2;
	box-sizing: border-box;
}

input::placeholder {
	color: #5a5757;
	opacity: 0.4;
	transition: box-shadow 0.5s ease-in-out;
}

.login-link.terms{
	font-size: 16px;
}

.create-button{
	background: rgba(32, 189, 108, 0.9);
	border-radius: 4px;
	padding: 16px 0;
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	color: #FFFFFF;
	display: block;
	width: 100%;
	border: none;
	text-decoration: none;
	cursor: pointer;  
	transition: all 0.6s ease;
}
.create-button:hover{
	background: #04974b;
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

/* //////checkbox/////////// */
.unactive{
	opacity: 0.8;
	transition: all 0.6s ease;
}

.unactive:hover{
	opacity: 1;
}

input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked), 
input[type="radio"]:checked, 
input[type="radio"]:not(:checked) 
{
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label, 
input[type="radio"]:checked + label, 
input[type="radio"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before,
input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after, 
input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #3CB878;
    border-bottom: 4px solid #3CB878;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label:after, 
input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after, 
input[type="radio"]:checked + label:after {
    opacity: 1;
}
