.wrapper {
    width: 1000px;
    background: rgb(195, 208, 230);
    margin: 0 auto;
}

body{
    color: rgb(161, 161, 161);
}

a{
    text-decoration: none;
    color: inherit;
}

.list-wrapper {
   /* width: 800px;
   margin: 0 auto; */
}
.list {
    background: rgb(45, 44, 44);
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    
}
.list-item {
    padding: 15px 20px;
    background: rgb(68, 67, 67);
    color: rgb(161, 161, 161);
    
}
.list-item:not(:last-child) {
    margin-right: 10px;

}

.for-content{
    padding: 20px;
    text-align: center;
    line-height: 1.3;
    
    background: rgb(45, 44, 44);
}
.akali {
}
.anivia {
}
.draven {
}
.garen {
}
.katarina {
}
.content-text {
}