.header{
    background-color: rgb(130, 169, 242);
    color: rgb(2, 4, 55); 
    border-radius:15px 15px 0px 0px ;
    text-align: center;
    padding: 10px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}