body{
    margin: 0;
    padding: 0;
    background-color:#171717;
}
p{
    margin: 0px;
}

.container{
    width: 1200px;
    margin: 0 auto; 
     
}

.header {
    /* background-color: antiquewhite; */
    padding: 20px 0;
    
}

.paralax-wrapper{
    background: url(img/header-bg.jpeg) center/cover no-repeat;
    background-attachment: fixed;
    width: 100vw;
    padding: 30px 0px;
}

.header  .header-menu {
    display: flex;
    width: 1200px;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
}
.header  .header-menu .header-logo {
    /* background-image: url(logo.png);
    background-repeat: no-repeat; */
    height: 33px;
    margin: 0;
    
    
   /* background-color: rgb(231, 100, 100); */
    /* width: 200px; */
    flex-basis: 350px;
}

.header  .header-menu .header-contact{
    display: flex;
   /* background: rgb(24, 46, 92); */
   padding: 0 10px;
  flex-basis: auto;
  align-items: center;
}
.gold-text{
    color: #E4B564;
}
.tel {
    margin: 0;
    display: inline-block;
    font-family: 'Circe';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 16px;

color: #fff;
 
}
.call-link {
    display: inline-block;
    border: 1px solid #E4B564;
    padding: 8px 12px;
    text-decoration: none;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 167% */
    margin-left: 20px;
    color: #E4B564;
    border-radius: 15px;
}

.call-link:hover{
    background-color: #E4B564;
    color: #171717;
    
}

.text {
    /* background-color: rgb(173, 180, 210); */
    margin-bottom: 30px;
}

/* .text .main-text{
    margin-bottom: 20px;
} */
.main-text {
    font-family: 'Gilam';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 46px;
color: #FFFFFF;
margin-bottom: 30px;
}

.park .main-text{
    margin-bottom: 30px;
}

.text .content-text {
    font-family: 'Gilam';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 20px;
color: #FFFFFF;

}
/* .wrapper{
   
    width: 1460px;
} */
.grid-item{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(246, 233, 212);
    font-size: 34px;
    min-height: 400px;
    text-align: center;
}
.grid1{
    justify-content: center;
   
    display: grid;
   
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px ; 
}

.grid1 .grid-item1{
    grid-column: 1/3 ;
    grid-row: 1/2 ;
    background-color: #634F2C;
}

.grid1 .grid-item2{
    grid-column: 3/5 ;
    grid-row: 1/2 ;
    background-color: #B4A385;
}

.grid1 .grid-item3{
    grid-column: 5/7 ;
    grid-row: 1/2 ;
    background-color: #E4B564;
}

.grid1 .grid-item4{
    grid-column: 1/4 ;
    grid-row: 2/3 ;
    background-color: #635A4A;
}

.grid1 .grid-item5{
    grid-column: 4/7 ;
    grid-row: 2/3 ;
    background-color: #B08C4D;
}

.main-section{
padding: 30px;
}

.grid2 {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 80px);
    grid-gap: 10px ;
    margin-bottom: 30px;
}
.grid2-item {
    display: flex;
    padding: 40px;
    color: rgb(246, 233, 212);
    font-size: 24px;
}
.grid-items1 {
    background-color: #B08C4D;
    grid-column: 1/2;
    grid-row: 1/4;
}
.grid-items2 {
    background: #242424;
    grid-column: 2/3;
    grid-row: 1/5;
}
.grid-items3 {
    background: #1F1F1F;
    grid-column: 3/4;
    grid-row: 1/3;
}
.grid-items4 {
    background: #1F1F1F;
    grid-column: 1/2;
    grid-row: 4/9;
}
.grid-items5 {
    background: #E4B564;
    grid-row: 5/9;
    grid-column: 2/3;
}
.grid-items6 {
    background: #0A0909;
    grid-column: 3/4;
    grid-row: 3/6;

}
.grid-items7 {
    background: #E4B564;
    grid-column: 3/4;
    grid-row: 6/9;
}


.grid3 {
    display: flex;
    /* gap: 10px; */
    
}
.column1{
    flex-grow: 1;
    /* margin-top: -10px;
    margin-bottom: -10px;
    margin-left: -10px; */
    margin: -10px 0 -10px -10px;
}
.column2{
    flex-grow: 1;
    margin: -10px;
    
}
.column3{
    flex-grow: 1;
    /* margin-top: -10px;
    margin-bottom: -10px;
    margin-right: -10px; */
    margin: -10px -10px -10px 0;
}
.grid3-item {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(246, 233, 212);
    font-size: 34px;
}
.grid3-item1 {
    background-color: #B08C4D;
    height: 314px;
}
.grid3-item2 {
    background: #242424;
    height: 440px;
}
.grid3-item3 {
    background: #1F1F1F;
    height: 256px;
}
.grid3-item4 {
    background: #1F1F1F;
    height: 560px;
}
.grid3-item5 {
    background: #E4B564;
    height: 434px;
}
.grid3-item6 {
    background: #0A0909;
    height: 314px;
}
.grid3-item7 {
    background: #d2a65a;
    height: 294px;
}


.grid4 {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
   
}

.grid4 .grid4-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(246, 233, 212);
    font-size: 20px;
    min-height: 300px;
    text-align: center;
    
}
.grid4 .grid-item1 {
    background-color:#E4B564;
}
.grid4 .grid-item2 {
    background-color: rgba(232, 210, 171, 1);
}
.grid4 .grid-item3 {
    background-color: #E4B564;
}
.grid4 .grid-item4 {
    background-color: #635A4A;
   
}
.grid4 .grid-item5 {
    background-color: #B08C4D;
}
.grid4 .grid-item6 {
    background-color: #634F2C;
}

.footer-menu .menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.menu .main-text{
   margin-bottom: 0;
}
.menu .call-link{
    margin-right: 10px;
    margin-left: 20px;
    padding: 8px 18px;
    font-size: 18px;
}

.desc{
    color: #fff;
    font-size: 30px;
    margin-bottom: 10px;
}

.footer-wrapper{
    background: url(img/parallax-bg.jpeg) center/cover no-repeat;
    background-attachment: fixed;
    width: 100vw;
     padding: 20px;
}


.content-width{
width: 350px;
}