.wishList{
    background-color: rgb(199, 211, 253);
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    font-family: serif;
    font-size: 20px;
    max-width: 600px;
    box-shadow: 1px 1px 10px 1px rgb(155, 155, 181);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.favouritePage{
    padding: 15px;
    margin: 10px;
    background-color: rgb(202, 224, 244);
    box-shadow: 1px 1px 10px 1px rgb(155, 155, 181);
    border-radius: 15px;
    text-decoration: none;
    // font-weight: 700;
    color: rgb(24, 24, 64);
}
