
      .post-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

      }
      .card{
        background-color: rgb(175, 215, 248);
        border-radius: 15px;
        padding: 20px;
        margin: 20px;
        width: 300px;
        min-height: 900px;
     }
     
     .pClass{
      background-color: #d1eafa;
        color: rgb(50, 50, 76);
        font-size: 19px;
        padding: 10px;
        border-radius: 15px;
        
        /* display: inline-block; */
     }
     .card-name{
      font-style: italic;
        font-weight: 700;
     }
     .lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    }
    .lds-ripple div {
    position: absolute;
    border: 4px solid rgb(37, 115, 248);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }
    .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
    }
    @keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
    }

    .btn {
        display: inline-block;	
        box-sizing: border-box;
        padding: 0 15px;
        margin: 0 15px 15px 0;
        outline: none;
        border: 1px solid #fff;
        border-radius: 50px;
        height: 46px;
        line-height: 46px;
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
        color: #444;
        background-color: #fff;
        box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
        cursor: pointer;
        user-select: none;
        appearance: none;
        touch-action: manipulation;  
        vertical-align: top;
        transition: box-shadow 0.2s;
    }
    .btn:focus-visible {
        border: 1px solid #4c51f9;
        outline: none;
    }
    .btn:hover {
        transition: all 0.2s;
        box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
    }
    .btn:active {
        background-color: #808080;
    }
    .modal{


    }
    .modal-backdrop{

    background-color: rgb(30, 39, 65);
    opacity: 0.5;
    }
    .g-content{
    display: flex;
    justify-content: center;
    align-items: center;
    }