html,
body { height: 100%; } /* Нужно добавить высоту */

body {
	display: flex; /* Нужно добавить что бы прокинуть высоту */
	flex-direction: column; /* Нужно добавить что бы прокинуть высоту */
	margin: 0;
	padding: 20px;
	box-sizing: border-box; /* Нужно было добавить что бы пайдинги вошли в размер */
	/* padding: 40px; */
	/* background-color: rgb(182, 225, 250); */
	background: radial-gradient(circle farthest-corner, #2b2c36, #171d35);
}

a{
	text-decoration: none;
	color: inherit;
}
p, span {
	margin: 0;
}


.container {
	margin: 0 auto;
	width: 1100px;

}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding: 10px;
	width: 1368px;
	background-image: url('../img/bg1.png');
	background-repeat: no-repeat;
	background-size: cover; /* Нужно добавить что бы растягивалось на всю высоту */
	height: 100%;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 24px;
}

.header .header-logo {
	color: aliceblue;
	display: flex;
	align-items: center;
	
}

.header .header-contact {
	color: aliceblue;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.header-logo .header-image {
	background-image: url('../img/logo.png');
	/* width: 53px; */
	height: 47px;
	width: 53px;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-right: 10px;
	
}

.header-logo:hover .header-image {
	background-image: url('../img/logo2.png');
	
}

.header-logo:hover .logo-text a {
	color: #F26522;
	
}

.logo-text a {
	text-decoration: none;
	color: inherit;	
}

.header-logo .logo-text {
	height: 47px;
	display: flex;
	align-items: end;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 29px;
	line-height: 20px;
	
}

.header-logo .logo-text .smaller {
	font-weight: 500;
	font-size: 19px;
	
}



/*  sdsddjlkdlkj*/
.hover-text:hover {
	color: #F26522;
	transform: scaleX(1.05);
}
.hover-text{
	transition: all 0.6s ease;
	
}

/* //////////MAIN////////////// */

.main {
	display: flex;
	justify-content: center;
	margin-bottom: 80px;
}

.main .grid-conteiner {
	display: grid;
	grid-template-columns: repeat(3, 300px);
	grid-template-rows: repeat(2, 220px);
	row-gap: 78px;
	column-gap: 60px;

}

.grid-item:hover .image-description {
	color: #F26522;
	font-size: 19px;
	
}
.grid-item .image-description {
	position: absolute;
	left: 0;
	bottom: -40px;
	right: 0;
	color: #fff;
	text-align: center;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 18px;
	transition: all 600ms ease;
}

@keyframes Ups {
	0%{
		width: 0;
		height: 0;
		/* background-image: linear-gradient(to top, #f50000, #798b00) ; */
		bottom: 0;
		opacity: 0;
	}
	50%{
		bottom: 0;
		opacity: 0;
		width: 150px;
		height: 25px;
		background-color: #f26522;
	}
	100%{
		bottom: 0;
		opacity: 1;
		 width: 290px;
		height: 55px;
		background-color: #f26522;
		margin: 5px;
	}
}

.price-line {
	display: none;
	position: absolute;		
} 
.image {	
	width: 300px;
	height: 220px;
	box-sizing: border-box;
	border: 5px solid #fff;
	border-image: linear-gradient(#fff, #000) 1;
}
.grid-item:hover .price-line {
	animation-name: Ups;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
	animation-timing-function: ease;
	display: block;
}

.grid-conteiner .grid-item {
	position: relative;
	transition: transform 0.6s;
	transition: all 600ms ease;

}
.grid-item:hover{
	transform: scale(1.05);
	box-shadow: 0px 0px 10px #fff;
}



.price-line .price-from {
	padding: 8px 16px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 10px;
	color: #FFFFFF;
}

.price-line .price-desc {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 12px;
}

.price-line .price-desc span {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 20px;
	/* or 100% */
	display: flex;
	align-items: center;
	color: #FFFFFF;
}

.price-line .price-desc .price-link {
	text-decoration: none;
	color: #fff;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 14px;
	/* position: relative; */
}
.price-link::after{
    content: '';
	background-image: url('../img/Vector1.svg');
    margin-left: 5px;
	display: inline-block;
	width: 10px;
	height: 10px;
	background-repeat: no-repeat;
	background-position:  center;
}

.linking-div {
	display: flex;
	align-items: center;
}

.footer {
	text-align: center;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 25px;
	color: #FFFFFF;
}


