
body {
	margin: 0;
	background-color: rgb(255, 255, 255);
	outline: none;
	
}
*{
	box-sizing: border-box;
}

ul,p{
	margin: 0;
	padding: 0;
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;	
	outline: none;
}

.wrapper{
	width: 1160px;
	margin: 0 auto;
}

.header{
	width: 100%;
	background: rgba(94, 93, 88, 0.6);
	position: fixed ;
	z-index: 3;
}

.welcome-back{
	background-image: url(../img/firstSection/welcome.jpg);
	width: 100%;
}

.header-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;	
}

.header-logo{
	width: 194px;
	height: 100px;
}

.header-text .header-menu {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-item {
	margin-right: 20px;
	box-sizing: border-box;
	padding: 30px 0px;
}

.header-item:last-child{
	margin-right: 0px;
}	

.header-link {
	color: rgba(255, 255, 255, 0.6);
	transition: color 0.5s ease;
	padding: 5px 0px;
}
.header-link:hover {
	color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
    padding-bottom:38px;
}

.header-link-btn{
	cursor: pointer;
}

.header-search:hover{
	border: none;
}

.text{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 25px;
}
.colored{
	color: #18CFAB;
	margin: 0;
	line-height: 1;
}

/* /////////welcome section///// */
.welcome-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* width: 800px; */
	margin: 0 auto;
	padding-top:254px ;
	padding-bottom: 210px;
	margin-bottom: 10px;
}
.welcome-theme{
	font-weight: 700;
	font-size: 35px;
	line-height: 1;
	color: white;
	text-transform: uppercase;
	margin-bottom: 22px;

}
.welcome-creative {
	font-weight: 700;
	font-size: 78px;
	line-height: 1;
	text-transform: uppercase;
	color: white;
	margin-bottom: 22px;
}
.welcome-just {
	font-weight: 300;
	font-size: 34px;
	line-height: 1;
	text-transform: uppercase;
	margin-bottom: 82px;
	color: #D4D4D4;
}
.welcome-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: 360px;
	color: white;
}
.button-explore {
	padding: 16px 18px;
	min-width: 169px;
	background: #18CFAB;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border-radius: 5px;
	border-top: 3px solid rgb(255, 255, 255);
	text-transform: uppercase;
}

.button-purchase {
	padding: 16px 12px;
	min-width: 169px;
	background: #00CBF6;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border-radius: 5px;
	border-top: 3px solid rgb(255, 255, 255);
	text-transform: uppercase;
	
}

/* ////////////DIFFERENT SECTION///////// */
.section-different {
	display: flex;
	align-items: center;
	
}
.diff-item {
	flex-basis: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #1C2A33;
	min-height: 300px;
}

.diff-text {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
}

.green-back{
	background-color: #18CFAB;
	color: white;
}

.diff1-svg{
	margin-bottom: 48px;
}

.diff2-svg{
	margin-bottom: 72px;
}

.diff3-svg{
	margin-bottom: 48px;
}

.diff4-svg{
	margin-bottom: 64px;
}

/* /////////SECTION SERVISE///////// */
.section-servise {
	padding: 60px 0px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.servise-title {
	font-weight: 400;
	font-size: 36px;
	line-height: 40px;
	color: #4E4E4E;
	margin-bottom: 26px;

}

.hrs {
	position: relative;
	margin-bottom: 50px;
}
.first-hr {
	margin-bottom: 5px;
	margin-left: -8px;
}
.hr {
	
	background-color: #18CFAB;
	height: 1px;
	width: 80px;
}
.second-hr {
	margin-left: 8px;
}

.servise-buttons {
	display: flex;
	box-sizing: border-box;
	margin-bottom: 34px;
	
}
.servise-buttons .serv-button {
	box-sizing: border-box;
	border: 1px solid #EDEFEF;
	margin-right: 5px;
	border: 1px solid #EDEFEF ;
	position: relative;
}
.servise-buttons .serv-button:hover {
	border: 1px solid #18CFAB;	
	cursor: url("../img/cursor.png"),pointer;
}

.servise-buttons .serv-button:last-child {
	margin-right: 0;		
} 

button{
	background: #F8FCFE;
	border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    min-width: 188px;
	padding: 15px 20px;
	outline: 0;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 39px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #717171;
	cursor: pointer;
}

.section-servise .button.active,
.section-servise .button:focus {
	background-color: #18CFAB;
	color: white;
	border: 1px solid #18CFAB;
  }

  .section-servise .servise-buttons .serv-button.active::after{
	position: absolute;
	content: '';
	text-align: center;
	background-image: url('../img/firstSection/afterSvg.svg');
	display: inline-block;
	width: 27px;
	height: 15px;
	bottom: -12px;
	background-repeat: no-repeat;
	background-position:  center;
}

.tab-content .content-item{
	justify-content: center;
	align-items: center;
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
	color: #777777;
}
.tab-content .content-item {
	display: none;
}

.tab-content .content-item.active{
	display: flex;
}

.tab-content .content-item img{
	margin-right: 10px;
	width: 194px;
	height: 144px;
}

/* ////////SECTION-READY////////// */

.section-ready{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url('../img//firstSection/readyBack.jpg');
	padding: 96px 10px;
	
}
.section-ready .button-explore{
	color: white;
	border-top: 3px solid rgb(255, 255, 255);
}

.welcome-buttons .button-explore{
	border-top: 3px solid rgb(255, 255, 255);
}

.ready-title {
	font-size: 40px;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
	color: #18CFAB;
	margin-bottom: 14px;
}
.ready-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	color: #D8D8D8;
	margin-bottom: 60px;
}

/* ///////SECTION-WORK//////// */

.section-work{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 60px 0px;
	background-color: #E9EDEF;
}
.section-work .servise-buttons{
	margin-bottom: 60px;
}

.section-work .serv-button{
	border: 1px solid #DADADA;
	background-color: #E9EDEF;
	
}
.section-work .serv-button.active{
	border: 1px solid #18CFAB;
	color: #18CFAB;
	
}
.section-work .serv-button:hover{
	color: #18CFAB;
}

/* ///////GRID WORK/////// */

.section-work  .grid-container {
	display: grid;
	grid-template-columns: repeat(4, minmax(285px, 1fr));
	margin-bottom: 60px;
}
.section-work  .grid-item {
	position: relative;
	background-size: cover;
	box-sizing: border-box;
}
.grid-item img { 
	width: 100%;
	height: 100%;
}

.section-work  .grid-item:hover .item-description{
	cursor: url("../img/cursor.png"),pointer;
	display: flex;
}
.section-work  .item-description {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #f9f9f9;
	border-top: 3px solid #18CFAB;
}

.desc-title {
	font-size: 16px;
	line-height: 16px;
	text-transform: uppercase;
	color: #18CFAB;
	margin-bottom: 10px;
}

.desc-text {
	font-weight: 300;
	font-size: 14px;
	line-height: 14px;
	color: #8A8A8A;
}
.section-work  .item-description svg{
	margin-bottom: 24px;
}

.button-explore{
	color: #ffffff;
	border-top: none;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button-explore .load-btn{
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.load-pictures{
	min-height: 55px;
}

.button-explore .load-btn::before{
	
	content: '';
	text-align: center;
	background-image: url('../img/work/plus.svg');
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-right: 4px;
	background-repeat: no-repeat;
}

/* ///////section-news////////////// */

.section-news {
	padding: 80px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.section-news .grid-container {
	display: grid;
	grid-template-columns: repeat(4, minmax(260px, 1fr));
	grid-template-rows: repeat(2, minmax(208px, 1fr));
	gap: 35px;
}
.section-news .grid-item {	
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	position: relative;
}

.news-img{
	margin-bottom: 10px;	
}

.aps-div .text{
	color: rgb(255, 255, 255);
}

.aps-div .text:nth-child(1){
	margin-bottom: 6px;
}

.section-news .desc-title{
	color:#717171;
}

.section-news .grid-item:hover .desc-title{
	color:#18CFAB;
}


.aps-div{
	background-color: #203E38;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	height: 70px;
	width: 70px;
	right: 0;
	top: 0;
}
.section-news .grid-item:hover .aps-div{
	background-color: #18CFAB;
}

/* //////////section-what/////// */

.section-what {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-image: url(../img/what/what-back.jpg);
	padding: 90px 0px;
}

.section-what .dottSvg{
	margin-bottom: 30px;
}

.section-what .servise-title{
	color: white;
}

.section-what .desc-text{
	color: #BBBBBB;
	width: 1160px;
	text-align: center;
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 20px;
}

.section-what .what-buttons{
	display: flex;
	text-align: center;
	justify-content: center;
	gap: 5px;
}
.section-what .serv-button{
	background-color: transparent;
	border: 1px solid #BBBBBB;
	padding: 8px 11px 8px 10px;
	min-width: 30px;
	transition: all 0.4s ease;
}
 .serv-button:hover{
	border: 1px solid #18CFAB;
}
 .serv-button:hover path{
	fill: white;
}
 .buttonR{
	padding: 8px 10px 8px 11px;
}

.person-icon{
	background-image: url('../img/what/iconBack.png');
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	border-radius: 50%;
	margin-bottom: 20px;
}

/* ///////////section-gallery///////// */

.section-gallery {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 50px 0px;
}

.columns-wrapper{
	display: flex;
	margin-bottom: 40px;
}

.column1 {
	display: flex;
	flex-direction: column;
	margin-right: 18px;
}
.column1 div{
	height: 260px;
}
.column1 .imgHouse:not(:last-child),
.column2 .imgHouse:not(:last-child)
{
	margin-bottom: 18px;
}
.column2 {
	display: flex;
	flex-direction: column;
	margin-right: 18px;
}

.column3 {
	display: flex;
	flex-direction: column;
	width: 378px;
}
.column3 .col3-div1{
	display: flex;
	justify-content: space-between;
	margin-right: 0px;
}
.column3 .col3-div1 {
	margin-bottom: 18px;
}
.column3 .col3-div2{
	display: grid;
	grid-template-columns: repeat(3, 124px);
	grid-template-rows: repeat(3, 92px);
	gap: 3px;
	margin-bottom: 18px;
}
.columns-wrapper img {
	width: 100%;
	height: 100%;
}
.imgHouse{
	position: relative;
}
.imgHouse:hover .imgHouseDesc{
	display: flex;
	cursor: url("../img/cursor.png"),pointer;

} 
.imgHouseDesc{
	display: none;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.64);
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.imgHouseDesc .desc-search{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(103, 186, 224);
	height: auto;
	padding: 10px;
	border-radius: 10px;
}

.imgHouseDesc .desc-search:not(:last-child){
	margin-right: 10px;
}
.imgHouseDesc .desc-search img{
	width: 25px;
	height: 25px;
}
.column3 .col3-div2 .desc-search img{
	width: 15px;
	height: 15px;
}
.column3 .col3-div2 .desc-search{
	padding: 8px;
}

/* /////////footer/////// */

.footer{
	display: flex;
	text-align: center;
	justify-content: center;
	padding: 36px 0px;
	background-color: #22353F;
}

/* ////////SLIDER/////// */

.container {
	margin: 0 auto;
	width: 1160px;
}

.slider .swiper-slide {
	text-align: center;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    overflow: visible;
    list-style: none;
    padding: 0px;
}
.slider.slider-thin-bol{
	overflow: visible;
}

.swiper-wrapper{
margin: 10px 0px;	
overflow: visible;
}

.slider .swiper-slide img {
	display: block;
	object-fit: cover;
	border-radius: 50%;
}

.slider.swiper {
	width: 100%;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}

.slider .swiper-slide {
	background-size: cover;
	background-position: center;
}


.swiper.thumbs-slider {
	height: 20%;
	box-sizing: border-box;
	padding: 10px 0;
	overflow: hidden;
}

.thumbs-slider .swiper-wrapper { display: flex; justify-content: center; }

.thumbs-slider .swiper-slide {
	width: 66px !important;
	border-radius: 50%;
	height: 100%;
	opacity: 0.4;
	cursor: pointer;
}

.thumbs-slider .swiper-slide-thumb-active {
	position: relative;
	top: -10px;
	opacity: 1;
}

.thumbs-slider .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 4px solid #18CFAB;
	box-sizing: border-box;
	object-fit: cover;
	height: 67px;
}

.thumbs-slider .swiper-button-next,
.thumbs-slider .swiper-button-prev {
	width: 34px;
	height: 34px;
	background-color: transparent;
	border: 1px solid #BBBBBB;
	padding: 8px 11px 8px 10px;
	min-width: 30px;
	transition: all 0.4s ease;
}
.thumbs-slider .swiper-button-next:hover,
.thumbs-slider .swiper-button-prev:hover{
	background-color: #18CFAB;
	border: 1px solid #18CFAB;
}

.thumbs-slider .swiper-button-next:hover path{
	fill: white;
}
.thumbs-slider .swiper-button-prev:hover path{
	fill: white;
}

.thumbs-slider .swiper-button-next:after,
.thumbs-slider .swiper-button-prev:after {
	font-size: 16px;
	color: #bbbbbb;
}

.thumbs-slider .swiper-button-next:hover:after,
.thumbs-slider .swiper-button-prev:hover:after {
	
	color: white;
}

.loader {
	background-image: url("data:image/svg+xml, %3Csvg version='1.1' id='loader-1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='40px' height='40px' viewBox='0 0 40 40' enable-background='new 0 0 40 40' xml:space='preserve'%3E%3Cpath opacity='0.2' fill='%23000' d='M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946 s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634 c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z'/%3E%3Cpath fill='%23F48E0B' d='M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0 C22.32,8.481,24.301,9.057,26.013,10.047z'%3E%3CanimateTransform attributeType='xml' attributeName='transform' type='rotate' from='0 20 20' to='360 20 20' dur='0.5s' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center;
	color: transparent!important;
}


