.header{
    background-color: rgb(127, 200, 176);
    color: rgb(2, 55, 14); 
    border-radius:15px 15px 0px 0px ;
    text-align: center;
    padding: 10px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}