.products{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.product{
	background-color: rgb(199, 211, 253);
	border-radius: 15px;
	padding: 20px;
	margin: 15px;
	position: relative;
	width: 530px;
	box-shadow: 1px 1px 10px 1px rgb(155, 155, 181);
}


.favourite{
	position: absolute;
	// display: none;
	opacity: 0;
	right: 20px;
	top: 20px;
	transition: all 0.4s ease;
}

.product:hover .favourite{
	display: block;
	opacity: 1;
	transition: all 0.4s ease;
}					
.productName{
	font-size: 24px;
	font-weight: 700;
}

.price{
	font-size: 20px;
}

.orderNumber{
	font-size: 20px;
}

.color{
	font-size: 20px;
}

.picture{
	max-width: 500px;
	max-height: 300px;
	border-radius: 15px;
}

