
.main-section{
    .section__name{
        @include boldText;
        font-weight: 600;
        margin-bottom: 10px;
        padding-left: 16px;
        @media screen and (max-width:550px){
            &{
              
               margin-bottom: 0px;
              
            }
        }  
    }
    .main__welcome{
        padding-top: 56px;
        margin: 0px 10px 40px 10px;
        min-width: 200px;
        
        @media screen and (max-width:320px){
            &{
              
               margin-bottom: 15px;
              
            }
        }
        @media screen and (max-width:550px){
            &{
              
               margin-bottom: 25px;
              
            }
        }
        img{
            // min-height: 450px;
            min-height: none;
            height: 100%;   
        }
    }
    .main__posts {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 40px;
        padding: -16px 0px;
        .post__item {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 16px;
            box-sizing: border-box;
            min-width: 252px;
            width: 50%;
            @media screen and (max-width:920px){
                &{
                    width: 100%;
                    @include borderMixin;
                }
            }
            @media screen and (max-width:550px){
                &{
                   flex-direction: column;
                   align-items: flex-start;
                   @include borderMixin;
                  
                }
               
            }
            .post-img{
                margin-right: 20px;
                min-height: 140px;
                min-width: 160px;
                @media screen and (max-width:550px){
                    &{
                       margin-right: 0px;
                       margin-bottom: 5px;
                       width: 50%;
                    }
                }
                @media screen and (max-width:320px){
                    &{
                       margin-right: 0px;
                       margin-bottom: 5px;
                       width: 60%;
                    }
                }
                img{
                    width: 100%;
                    height: 100%;
                    
                }
            }
            .post-title {
                @include boldText;
                margin-bottom: 10px;
                @media screen and (max-width:920px){
                    &{
                        font-size: 16px;
                    }
                }
                @media screen and (max-width:320px){
                    &{
                        font-size: 16px;
                    }
                }
            }
            .post-desc {
                @include defaultText;
                font-size: 12px;
                color: #7C7C7C;
                margin-bottom: 10px;
            }
            .post-text {
                @include defaultText;
                font-size: 14px;
                // max-width: 400px;
                @media screen and (max-width:768px){
                    &{
                        font-size: 14px;
                    }
                }
                @media screen and (max-width:320px){
                    &{
                        font-size: 12px;
                    }
                }
            }
        }
        
    }  
}

// shots section
.main__shots {
    background-color: rgb(242, 241, 241);
    padding: 20px 0px;
    width: 100%;
    .main__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        padding: 0px 16px;
    }
    .main-title-text {
        @include boldText;
        font-weight: 600;   
         
        @media screen and (max-width:650px){
            
            &:last-child{
                display: none;
            }
        }         
    }
    .main-images {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        flex-wrap: wrap;     
    }
    .main-item {
        flex-basis: 24%;
        @media screen and (max-width:1155px){
            &:last-child{
                display: none;
            }
        }
        @media screen and (max-width:575px){
            &:not(:first-child){
                display: none;
            }   
        }
        @media screen and (max-width:768px){
            &{  
                flex-basis: 50%;
            }
            &:not(:first-child){
                display: none;
            }
        }
            & img{
                width: 100%;
                height: 100%;
            }
    }
}